@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

main {
  background-color: #c0c0c0;
  max-width: 661px;
  max-height: 763px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.search-container {
  width: 500px;
  color: #ffffff;
  margin-top: 50px;
}
#search-input {
  width: 100%;
  height: 61px;
  padding: 16px 8px;
  font-size: 48px;
  outline: none;
}

.autocomplete-list {
  list-style: none;
  border: 2px #000000;
  background-color: #e3e3e3;
  font-size: 30px;
  color: #000000;
}

.autocomplete-list li {
  padding: 16px 8px;
  height: 44px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.autocomplete-list li:hover {
  text-decoration: underline;
  text-decoration-color: #65cdf9;
}

.autocomplete-list li:active {
  background-color: #65cdf9;
}

.repo-list {
  margin-top: 40px;
  width: 500px;
  border: 1px #000000;
  background-color: #e27beb;
  font-size: 24px;
  margin-bottom: 50px;
}
.repo-list-appended {
  list-style: none;
}

.repo-list-appended li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  height: 101px;
  border: 1px solid #000000;
  cursor: pointer;
}

span {
  display: block;
}
span:hover{
  text-decoration: underline;
  text-decoration-color: #65cdf9;
}
.delete-btn {
  background: none;
  color: #ff0000;
  border: none;
  cursor: pointer;
  height: 38.5px;
  font-size: 40px;
}
